.pages__nav {
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  width: 100px;
  padding: 8px 12px;
  border-radius: 8px;
  background: #633ad6;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.pages__nav:hover {
  cursor: pointer;
  background: #4c2da5;
}

@media (max-width: 540px) {
  .pages__nav {
    color: #fff;
  }
}
