.button {
  width: 246px;
  padding: 16px 24px;
  border: none;
  background-color: #633ad6;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  border-radius: 12px;
}

.button:hover {
  cursor: pointer;
  background-color: #4c2da5;
}

@media (max-width: 540px) {
  .button {
    width: 200px;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 24px;
  }
}
