.gifs {
  max-width: 920px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 296px);
  gap: 16px;
  margin: 0 auto;
}
@media (max-width: 930px) {
  .gifs {
    grid-template-columns: repeat(2, 296px);
    justify-content: center;
  }
}

@media (max-width: 620px) {
  .gifs {
    grid-template-columns: repeat(1, 296px);
    gap: 16px;
  }
}
