.gif-page__gif {
  display: block;
  width: 100%;
  max-height: 600px;
  object-fit: contain;
  object-position: center;
}

@media (max-width: 540px) {
  .gif-page__gif {
    width: calc(100% + 24px);
    margin-left: -12px;
  }
}
