.random-gif {
  max-width: 812px;
  margin: 8px auto 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  border-radius: 8px;
  min-height: 55vh;
}

@media (max-width: 540px) {
  .random-gif {
    width: calc(100% + 24px);
    margin-left: -12px;
    margin-bottom: 54px;
  }
}
