.gif-page__title {
  margin: 0;
  padding: 0;
  color: #000;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

@media (max-width: 540px) {
  .gif-page__title {
    font-size: 20px;
    line-height: 24px;
  }
}
