.header__link {
  margin: 0;
  text-decoration: none;
  display: block;
  text-align: center;
  box-sizing: border-box;
  width: 141px;
  color: #565656;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 12px;
}

.header__link:hover {
  cursor: pointer;
}
