.nav {
  margin: 12px auto 16px;
  padding: 0 12px;
  list-style-type: none;
  display: flex;
  max-width: 439px;
  justify-content: center;
  gap: 8px;
}

@media (max-width: 540px) {
  .nav {
    margin: 8px auto 24px;
  }
}
