.search__submit {
  margin: 0;
  padding: 16px;
  width: 56px;
  height: 56px;
  border: none;
  background: #633ad6 url(../../../images/search__submit.svg) no-repeat center / contain;
  border-radius: 0px 8px 8px 0px;
  background-size: 24px 24px;
  position: absolute;
  top: 0;
  right: 0;
}

.search__submit:hover {
  cursor: pointer;
  background-color: #4c2da5;
}

.search__submit:disabled {
  cursor: none;
  background-color: #372177;
}

@media (max-width: 540px) {
  .search__submit {
    background-size: 20px 20px;
    width: 44px;
    height: 44px;
  }
}
