.link {
  display: block;
  margin: 0 auto;
  width: 240px;
  padding: 16px 24px;
  border: none;
  background-color: var(--accent-purple);
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  border-radius: 12px;
  text-decoration: none;
  text-align: center;
}

.link:hover {
  cursor: pointer;
  background-color: var(--accent-purple-dark);
}
