.search__bar {
  border: none;
  outline: none;
  width: calc(100%);
  padding: 0;
  padding-left: 24px;
  color: var(--input-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 8px;
}

@media (max-width: 540px) {
  .search__bar {
    width: calc(100% - 88px);
    padding-left: 20px;
    font-size: 14px;
    line-height: 20px;
  }
}
